<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<!-- Site title
   ================================================== -->
	<title>Trading Recommendations</title>

	<!-- Bootstrap CSS
   ================================================== -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">

	<!-- Animate CSS
   ================================================== -->
	<link rel="stylesheet" href="../static/css/animate.min.css">

	<!-- Font Icons CSS
   ================================================== -->
	<link rel="stylesheet" href="../static/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/ionicons.min.css">

	<!-- Main CSS
   ================================================== -->
	<link rel="stylesheet" href="../static/css/style.css">

	<!-- Google web font 
   ================================================== -->	
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>

  <!-- Favicon
  ================================================== -->
  <link href="../static/images/favicon.ico" rel="shortcut icon"/>

  <!-- Chart.js
  ================================================== -->
  <script src="../static/js/moment.js"></script>
  <script src="../static/js/chart.js"></script>

</head>
<body>

<!-- Preloader section
================================================== -->
<div class="preloader">
	<div class="sk-spinner sk-spinner-pulse"></div>
</div>

<!-- Navigation section
================================================== -->
<div class="nav-container">
   <nav class="nav-inner transparent">
      <div class="navbar">
         <div class="container">
            <div class="row">
              <div class="brand">
				<table>
					<tr>
						<td>
							<a href="/">Trading Recommendations by</a>
						</td>
						<td>
							<img src="../static/images/logo.png" class="img-responsive" alt="Portfolio" width="120" >
						</td>
					</tr>
				</table>
              </div>
              <div class="navicon" style="margin-top: 30px;">
                <div class="menu-container">
                  <div class="circle dark inline">
                    <i class="icon ion-navicon"></i>
                  </div>
                  <div class="list-menu">
                    <i class="icon ion-close-round close-iframe"></i>
                    <div class="intro-inner">
                      <ul id="nav-menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="preferences">Your Preferences</a></li>
                        <li><a href="dashboard">Dashboard</a></li>
                        <li><a href="team">Team</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
         </div>
      </div>
   </nav>
</div>


<!-- Header section
================================================== -->
<section id="header" class="header-one" style="margin-top: 50px;">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
          <div class="header-thumb">
            <h1 class="wow fadeIn" data-wow-delay="1.6s">Dashboard</h1>
            <h3 class="wow fadeInUp" data-wow-delay="1.9s">You receive detailed investment recommendations including risk and sentiment assessment</h3>
          </div>
			</div>
		</div>
	</div>		
</section>

<!-- Dashboard
================================================== -->
<div class="wow fadeInUp" data-wow-delay="1.6s">
   <table>

      <colgroup>
         <col span="1" style="width: 80%;">
         <col span="1" style="width: 20%;">
      </colgroup>

      <tbody>
         <tr>

            <td style="padding:30px 50px 0 50px; vertical-align:top;">
               <h1 align="center">24h Rolling Average of Reddit Sentiment</h1>
               <canvas id="sentiment" height="100"></canvas>
               <script>
                  var ctx = document.getElementById('sentiment');
                  var myChart = new Chart(ctx, {
                     type: 'line',
                     data: {
                        labels: {{sentiment_data[0]}},
                        datasets: [
                        {% for data in sentiment_data[1] %}
                           {
                           data: {{data["sentiments"]}},
                           label: "{{data["ticker"]| safe }}",
                           borderColor: "{{data["color"]| safe }}",
                           fill: false,
                           lineTension: 0.4,
                           pointRadius: 0
                           },
                        {% endfor %}
                        ]
                     },
                     options: {
                        legend: {
                           display: true
                        },
                        scales: {
                           xAxes: [{
                              type: 'time',
                              time: {
                                 unit: 'day'
                              }
                           }],
                           yAxes : [{
                              ticks : {
                                 max : 1,    
                                 min : -1
                              },
                              scaleLabel: {
                                 display: true,
                                 labelString: "Sentiment"
                              }
                           }]
                        }
                     }
                  });
               </script>
            </td>

            <td rowspan="3" style="padding:30px 50px 30px 30px; vertical-align:top;">
               <h1 align="center">Yor Stock Ranking</h1>
               {% for data in sentiment_data[1] %}
               <details {% if data["total_rank"] == 1 %}open{% endif %}>
                  <summary><h3 style="color:{{data["color"]}}"><b>{{data["total_rank"]}}{{". " + data["ticker"]}}</b></h3></summary>
                  <p><b>{{data["company"]}}</b></p> 
                  <p>A <b>{{data["sector"]}}</b> Company based in <b>{{data["country"]}}</b> in the <b>{{data["industry"]}}</b> Industry</p>
                  <ul>
                     <li><p>Price: {{data["price"]}} $</p></li>
                     <li><p>Sentiment-Score: {{data["sentiment_score"]}}</p></li>
                     <li><p>Risk-Score: {{data["risk"]}}</p></li>
                     <li><p>Latest Return: {{data["return"]}}</p></li>
                  </ul>
               </details>
               {% endfor %}
            </td>

         </tr>

         <tr>

            <td style="padding:30px 50px 30px 50px; vertical-align:top;">
               <h1 align="center">Risk-Score and Return</h1>
               <canvas id="risk" height="80"></canvas>
               <script>
                  var ctx = document.getElementById('risk');
                  var myChart = new Chart(ctx, {
                     type: 'bar',
                     data: {
                        labels: {{risk_return_data["tickers"]|safe}},
                        datasets: [
                           {
                           data: {{risk_return_data["risks"]|safe}},
                           label: "Risk-Score in %",
                           borderColor: {{risk_return_data["borderColors"]|safe}},
                           backgroundColor: {{risk_return_data["backgroundColors"]|safe}},
                           borderWidth: 3,
                           },
                           {
                           data: {{risk_return_data["returns"]|safe}},
                           label: "Return of past year in %",
                           borderColor: {{risk_return_data["borderColors"]|safe}},
                           backgroundColor: {{risk_return_data["backgroundColors"]|safe}},
                           borderWidth: 3,
                           },
                        ]
                     },
                     options: {
                        scales: {
                           yAxes: [{
                              ticks: {
                                 callback: function(value){return value+ "%"}
                              },  
                              scaleLabel: {
                                 display: true,
                                 abelString: "Percentage"
                              }
                           }]
                        }
                     }
                  });
               </script>
            </td>
         </tr>
      </tbody>
   </table>
</div>

<!-- Footer section
================================================== -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p class="wow fadeInUp"  data-wow-delay="0.3s">Copyright © 2021 Trading Recommendations @ Sentiment AG</p>
			</div>
		</div>
	</div>
</footer>


<!-- Javascript 
================================================== -->
<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/isotope.js"></script>
<script src="../static/js/imagesloaded.min.js"></script>
<script src="../static/js/wow.min.js"></script>
<script src="../static/js/custom.js"></script>

</body>
</html>